

table th {
    width: 200px;
    margin-left: 200px;
    margin-right: auto; 
    text-align: center;
   
    
}



h4
{
  text-align: center;
}

.center
{
  margin-left: 50px;
}



