
<div id="content" #content >
<body>
  <div class="container">
    <section>
      <div class="left">
        <div class="event">Movie</div>
        <div class="title">{{name}}</div>
        <div class="info">{{date}} // {{time}} // {{city}}</div>
      </div>
      <div class="right">
        
        <div class="seats" *ngFor="let i of seat">seat<span>{{i}}</span></div>
      </div>
    </section>
  </div>
</body>

</div>


<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-4">

    <button (click)="downloadPDF()" class="btn btn-success btn">Export To PDF</button>
  </div>
  <div class="col-md-3">
  </div>





    

    