
  

<div class="seatStructure">

  
<table >
<tr>
    <td colspan="14"><div class="screen">SCREEN</div></td>

</tr>

  
  
  <tr>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td></td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
</tr>


  
<tr >
  
    <td>A</td>
    <td><input (click)="wait($event)" type="button"  id="A1"></td>
    <td><input (click)="wait($event)" type="button"  id="A2"></td>
    <td><input (click)="wait($event)" [(ngModel)]="seat"  type="button"  id="A3"></td>
    <td><input (click)="wait($event)" [(ngModel)]="seat" type="button"  id="A4"></td>
    <td><input (click)="wait($event)" type="button"  id="A5"></td>
    <td class="seatGap"></td>
    <td><input (click)="wait($event)" type="button"  id="A6"></td>
    <td><input (click)="wait($event)" type="button"  id="A7"></td>
    <td><input (click)="wait($event)" type="button"  id="A8"></td>
    <td><input (click)="wait($event)" type="button"  id="A9"></td>
    <td><input (click)="wait($event)" type="button"  id="A10"></td>
    <td><input (click)="wait($event)" type="button"  id="A11"></td>
    <td><input (click)="wait($event)" type="button"  id="A12"></td>
  </tr>
  
  <tr>
    <td>B</td>
    <td><input (click)="wait($event)" type="button"  id="B1"></td>
    <td><input (click)="wait($event)" type="button"  id="B2"></td>
    <td><input (click)="wait($event)" type="button"  id="B3"></td>
    <td><input (click)="wait($event)" type="button"  id="B4"></td>
    <td><input (click)="wait($event)" type="button"  id="B5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="B6"></td>
    <td><input (click)="wait($event)" type="button"  id="B7"></td>
    <td><input (click)="wait($event)" type="button"  id="B8"></td>
    <td><input (click)="wait($event)" type="button"  id="B9"></td>
    <td><input (click)="wait($event)" type="button"  id="B10"></td>
    <td><input (click)="wait($event)" type="button"  id="B11"></td>
    <td><input (click)="wait($event)" type="button"  id="B12"></td>
  </tr>
  
  <tr>
    <td>C</td>
    <td><input (click)="wait($event)" type="button"  id="C1"></td>
    <td><input (click)="wait($event)" type="button"  id="C2"></td>
    <td><input (click)="wait($event)" type="button"  id="C3"></td>
    <td><input (click)="wait($event)" type="button"  id="C4"></td>
    <td><input (click)="wait($event)" type="button"  id="C5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="C6"></td>
    <td><input (click)="wait($event)" type="button"  id="C7"></td>
    <td><input (click)="wait($event)" type="button"  id="C8"></td>
    <td><input (click)="wait($event)" type="button"  id="C9"></td>
    <td><input (click)="wait($event)" type="button"  id="C10"></td>
    <td><input (click)="wait($event)" type="button"  id="C11"></td>
    <td><input (click)="wait($event)" type="button"  id="C12"></td>
</tr>
  
<tr>
    <td>D</td>
    <td><input (click)="wait($event)" type="button"  id="D1"></td>
    <td><input (click)="wait($event)" type="button"  id="D2"></td>
    <td><input (click)="wait($event)" type="button"  id="D3"></td>
    <td><input (click)="wait($event)" type="button"  id="D4"></td>
    <td><input (click)="wait($event)" type="button"  id="D5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="D6"></td>
    <td><input (click)="wait($event)" type="button"  id="D7"></td>
    <td><input (click)="wait($event)" type="button"  id="D8"></td>
    <td><input (click)="wait($event)" type="button"  id="D9"></td>
    <td><input (click)="wait($event)" type="button"  id="D10"></td>
    <td><input (click)="wait($event)" type="button"  id="D11"></td>
    <td><input (click)="wait($event)" type="button"  id="D12"></td>
</tr>
  
<tr>
    <td>E</td>
    <td><input (click)="wait($event)" type="button"  id="E1"></td>
    <td><input (click)="wait($event)" type="button"  id="E2"></td>
    <td><input (click)="wait($event)" type="button"  id="E3"></td>
    <td><input (click)="wait($event)" type="button"  id="E4"></td>
    <td><input (click)="wait($event)" type="button"  id="E5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="E6"></td>
    <td><input (click)="wait($event)" type="button"  id="E7"></td>
    <td><input (click)="wait($event)" type="button"  id="E8"></td>
    <td><input (click)="wait($event)" type="button"  id="E9"></td>
    <td><input (click)="wait($event)" type="button"  id="E10"></td>
    <td><input (click)="wait($event)" type="button"  id="E11"></td>
    <td><input (click)="wait($event)" type="button"  id="E12"></td>
</tr>
  
<tr class="seatVGap"></tr>
  
<tr>
    <td>F</td>
    <td><input (click)="wait($event)" type="button"  id="F1"></td>
    <td><input (click)="wait($event)" type="button"  id="F2"></td>
    <td><input (click)="wait($event)" type="button"  id="F3"></td>
    <td><input (click)="wait($event)" type="button"  id="F4"></td>
    <td><input (click)="wait($event)" type="button"  id="F5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="F6"></td>
    <td><input (click)="wait($event)" type="button"  id="F7"></td>
    <td><input (click)="wait($event)" type="button"  id="F8"></td>
    <td><input (click)="wait($event)" type="button"  id="F9"></td>
    <td><input (click)="wait($event)" type="button"  id="F10"></td>
    <td><input (click)="wait($event)" type="button"  id="F11"></td>
    <td><input (click)="wait($event)" type="button"  id="F12"></td>
</tr>
  
<tr>
    <td>G</td>
    <td><input (click)="wait($event)" type="button"  id="G1"></td>
    <td><input (click)="wait($event)" type="button"  id="G2"></td>
    <td><input (click)="wait($event)" type="button"  id="G3"></td>
    <td><input (click)="wait($event)" type="button"  id="G4"></td>
    <td><input (click)="wait($event)" type="button"  id="G5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="G6"></td>
    <td><input (click)="wait($event)" type="button"  id="G7"></td>
    <td><input (click)="wait($event)" type="button"  id="G8"></td>
    <td><input (click)="wait($event)" type="button"  id="G9"></td>
    <td><input (click)="wait($event)" type="button"  id="G10"></td>
    <td><input (click)="wait($event)" type="button"  id="G11"></td>
    <td><input (click)="wait($event)" type="button"  id="G12"></td>
</tr>
  
<tr>
    <td>H</td>
    <td><input (click)="wait($event)" type="button"  id="H1"></td>
    <td><input (click)="wait($event)" type="button"  id="H2"></td>
    <td><input (click)="wait($event)" type="button"  id="H3"></td>
    <td><input (click)="wait($event)" type="button"  id="H4"></td>
    <td><input (click)="wait($event)" type="button"  id="H5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="H6"></td>
    <td><input (click)="wait($event)" type="button"  id="H7"></td>
    <td><input (click)="wait($event)" type="button"  id="H8"></td>
    <td><input (click)="wait($event)" type="button"  id="H9"></td>
    <td><input (click)="wait($event)" type="button"  id="H10"></td>
    <td><input (click)="wait($event)" type="button"  id="H11"></td>
    <td><input (click)="wait($event)" type="button"  id="H12"></td>
</tr>
  
<tr>
    <td>I</td>
    <td><input (click)="wait($event)" type="button"  id="I1"></td>
    <td><input (click)="wait($event)" type="button"  id="I2"></td>
    <td><input (click)="wait($event)" type="button"  id="I3"></td>
    <td><input (click)="wait($event)" type="button"  id="I4"></td>
    <td><input (click)="wait($event)" type="button"  id="I5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="I6"></td>
    <td><input (click)="wait($event)" type="button"  id="I7"></td>
    <td><input (click)="wait($event)" type="button"  id="I8"></td>
    <td><input (click)="wait($event)" type="button"  id="I9"></td>
    <td><input (click)="wait($event)" type="button"  id="I10"></td>
    <td><input (click)="wait($event)" type="button"  id="I11"></td>
    <td><input (click)="wait($event)" type="button"  id="I12"></td>
</tr>
  
<tr>
    <td>J</td>
    <td><input (click)="wait($event)" type="button"  id="J1"></td>
    <td><input (click)="wait($event)" type="button"  id="J2"></td>
    <td><input (click)="wait($event)" type="button"  id="J3"></td>
    <td><input (click)="wait($event)" type="button"  id="J4"></td>
    <td><input (click)="wait($event)" type="button"  id="J5"></td>
    <td></td>
    <td><input (click)="wait($event)" type="button"  id="J6"></td>
    <td><input (click)="wait($event)" type="button"  id="J7"></td>
    <td><input (click)="wait($event)" type="button"  id="J8"></td>
    <td><input (click)="wait($event)" type="button"  id="J9"></td>
    <td><input (click)="wait($event)" type="button"  id="J10"></td>
    <td><input (click)="wait($event)" type="button"  id="J11"></td>
    <td><input (click)="wait($event)" type="button"  id="J12"></td>
</tr>
  
  
</table>
  
<br/>
      
<br/><br/>

<button class="btn" (click)="book()">BooK Seat

</button>

</div>


<table class="Displaytable">
  <tr>
    
    <th>Number of Seats</th>
    <th>Seats</th>
  </tr>

  <tr >
    
  <td>
    <div>
      {{no}}
      </div>
  </td>
    <td >
      <div *ngFor="let i of newArray">
      {{i}}
      </div></td>
    
  </tr>
</table>





