
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">boOk mY mOvIe</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li class="fl"><span class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start Searching For a Movie">
    </span></li>
    </ul>
  </div>
</nav>






<div class="row">
<div class="col-sm-3 option">
  <label class="option" >Language</label>
<select [(ngModel)]="languageoption" (change)="languagechanged()">

<option *ngFor="let data of Languagedata " >{{data}}</option>
</select>
</div>
<div class="col-sm-1">
</div>


<div class="col-sm-3 option">
  <label>Generes</label>
<select [(ngModel)]="genereoption" (change)="generechanged()">

<option *ngFor="let data of Generes " >{{data}}</option>
</select>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-3 option">
  <label class="option">By Name</label>
<select [(ngModel)]="sortoption">
  
        <option value="alphabatecially">By Name</option>
               
      </select>
</div>


</div>



<div *ngIf="flag!=true && GenereFlag!=true">
  
<div class="row">
<div  *ngFor="let i of MovieArray | pipe:sortoption | filter:searchText" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" (click) ="getMovieById(i.id)" class="img-responsive"/>
</div>


</div>


</div>
</div>


<div *ngIf="flag==true && Yflag!=true">
 <div *ngIf="GenereFlag!=true">
<div class="row">
<div  *ngFor="let i of MovieFilter | pipe:sortoption | filter:searchText" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" (click) ="getMovieById(i.id)" class="img-responsive"/>
</div>

</div>


</div>
</div>
</div>

  
<div *ngIf="GenereFlag==true && Yflag!=true">
<div class="row">
<div  *ngFor="let i of GenereFilter | pipe:sortoption | filter:searchText" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" (click) ="getMovieById(i.id)" class="img-responsive"/>
</div>

</div>


</div>
</div>

<div *ngIf="Yflag==true">
<div class="row">
<div  *ngFor="let i of GenereData | pipe:sortoption | filter:searchText" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" (click) ="getMovieById(i.id)" class="img-responsive"/>
</div>

</div>

<h1 *ngIf="GenereData.length<=0">{{msg}}</h1>
</div>
</div>









