
 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li></li>
      <li class="fl"><div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
    </div></li>
     
    </ul>
  </div>
</nav>




<div class="row">
<div class="col-sm-3 option">
  <label >Language</label>
<select [(ngModel)]="sortoption">>

<option *ngFor="let data of Languagedata " value="{{data}}">{{data}}</option>
</select>
</div>
<div class="col-sm-1">
</div>


<div class="col-sm-3 option">
  <label class="option">Generes</label>
<select [(ngModel)]="sortoption">>

<option *ngFor="let data of Languagedata "  value="language">{{data}}</option>
</select>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-3 option">
  <label class="option">By Name</label>
<select [(ngModel)]="sortoption">
  
        <option value="alphabatecially">By Name</option>
               
      </select>
</div>


</div>




<div class="row">
<div  *ngFor="let i of MovieArray | pipe:sortoption | filter:searchText" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" (click) ="getMovieById(i.id)" class="img-responsive"/>
</div>

</div>


</div>







