<div class="row">
<div  *ngFor="let i of SingleMovie" >
<div class="col-sm-3 space">
<img src="{{i.img}}" id="imgsize" class="img-responsive"/>
</div>

<div class="col-sm-1 space">
</div>

<div class="col-sm-7 space">
  <h2>{{i.name}}({{i.Releasedate}})</h2>
  <p>

    {{i.Description}}
  </p>
  <div class="space">
  <h4>Imdb Rating:-<span>{{i.Rating}}</span></h4>
  </div>
  <hr>
  
<div >
  

  <div class="col-sm-2 space form-group" [class.has-error]="City.touched && City.invalid">
              <select [(ngModel)]="selectedcity" (change)="city()" name="City" appSelectvalidator #City="ngModel">
                
                <option value="select">Select a City</option> 
                  <option>Pune</option> 
                  <option>Mumbai</option> 
                  <option>Delhi</option> 
                  <option>Chandigarh</option> 
              </select>
              <span class="error" *ngIf="City.errors?.defaultSelected && City.touched">
                City is required.
              </span>
            </div>

            <div class="col-sm-2 space" >
              <select [(ngModel)]="selectedtheater" name="Atheater" *ngFor="let i of MovieByTheatrer " required (change)="theater()"  >
                
                
                  <option *ngFor="let j of i.theater">{{j}}</option> 
                  
              </select>
               
            </div>


             <div class="col-sm-1 space">
               
        </div>

        

            <div class="col-sm-3 space" [class.has-error]="Mtime.touched && Mtime.invalid">
              <select [(ngModel)]="selectedtime" name="Mtime" (change)="time()"appSelectvalidator  #Mtime="ngModel">
                <option value="select">Select Time</option> 
                  <option>9:00</option> 
                  <option>1:30</option> 
                  <option>4:00</option> 
                   <option>7:00</option> 
                  <option>12:00</option> 
              </select>
               <span class="error" *ngIf="Mtime.errors?.defaultSelected && Mtime.touched">
                Time is required.
              </span>
            </div>

          <div class="col-sm-1 space">
          </div>
            


            <div class="col-sm-3 space form-group">
              
              <input type="text"
            class="form-control"
            [minDate]="minDate"
            [maxDate]="maxDate"
            #dp="bsDatepicker"
            bsDatepicker
            placeholder="Select Date"
            [(bsValue)]="myDateValue"
            value="{{ computeDisplayValue() }}">

</div>


</div> 
</div>        

<div class="row">
  <div class="col-sm-4 space">
  </div>
            <div class="col-sm-4 space">

          <button type="button" title="Please Select the fields " (click)="SeatBooking()" class="btn btn-primary" [disabled]='!(selectedc && selectedd && selectedt && selectedth)'>Select Seat</button>
          
        </div>

  

        <div class="col-sm-4 space">
  </div>

      
        
</div>







          

        

            
          
        
     
    




